$body-font-family = 'Ubuntu', sans-serif;
$input-height = 48px;
$input-max-height = 48px ;

// $input-height = 148px;

// $input-icon-height = 154px;
// $input-label-height = 150px;
// $input-max-height = 148px;
// $input-font-size = 186px;


// $text-field-details-min-height = 114px;
// $text-field-filled-full-width-outlined-dense-slot-min-height = 152px;
// $text-field-filled-full-width-outlined-single-line-slot-min-height = 140px;
// $text-field-filled-full-width-outlined-slot-min-height = 156px;
// $text-field-line-height = 120px;
// $text-field-outlined-legend-line-height = 111px;
// $text-field-prefix-max-height = 132px;
// $text-field-solo-control-min-height = 148px;
// $text-field-solo-dense-control-min-height = 138px;


.v-input
  align-items: flex-start
  display: flex
  flex: 1 1 auto
  font-size: 16px
  text-align: left

  .v-progress-linear
    top: calc(100% - 1px)
    left: 0
    margin: 0
    position: absolute

  input
    max-height: 62px
@require '~vuetify/src/stylus/main.styl';

