// Globals
$body-font-family: 'Work Sans', serif;
$border-radius-root: 6px;
$font-size-root: 14px;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
// $fab-icon-sizes: (
//   'small': 20
// );
// $btn-sizes: (
//   'default': 41,
//   'large': 54
// );

// $headings: (
//   'h1': (
//     'size': 3.3125rem,
//     'line-height': 1.15em
//   ),
//   'h2': (
//     'size': 2.25rem,
//     'line-height': 1.5em
//   )



//   input

// $input-icon-height: 24px !default;
// $input-label-height: 20px !default;
// $input-max-height: 32px !default;
// $input-font-size: 16px !default;


// $input-icon-height: 154px !default;
// $input-label-height: 150px !default;
// $input-max-height: 148px !default;
// $input-font-size: 186px !default;

// $input-icon-height: 154px;
// $input-label-height: 150px;
// $input-max-height: 148px;
// $input-font-size: 186px;



// $text-field-details-min-height: 114px !default;
// $text-field-filled-full-width-outlined-dense-slot-min-height: 152px !default;
// $text-field-filled-full-width-outlined-single-line-slot-min-height: 140px !default;
// $text-field-filled-full-width-outlined-slot-min-height: 156px !default;
// $text-field-line-height: 120px !default;
// $text-field-outlined-legend-line-height: 111px !default;
// $text-field-prefix-max-height: 132px !default;
// $text-field-solo-control-min-height: 148px !default;
// $text-field-solo-dense-control-min-height: 138px !default;

