// Globals
$body-font-family: 'Ubuntu', sans-serif;
$border-radius-root: 6px;
$font-size-root: 14px;

$input-height: 48px;
$input-max-height: 48px ;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;